@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #393939;
}

h3 {
    color: #d64d5a;
    font-size: 35px;
    text-align: center;
}

.user-name, .user-input {
    color: #465da5;
}


.clear-history-button, .go-back-button {
    background-color: #727272;
    color: white;
    border-radius: 20px;
    border: #727272 2px solid;
}

#start-button {
    background-color: #d64d5a;
    border-radius: 20px;
    color: #fefefe;
    border: #d64d5a 2px solid;
}

#start-button:hover {
    background-color: #f1cb31;
    color: #465da5;
    border: #f1cb31 2px solid;
}

.results-display {
    background-color: #717272;
    width: 60vw; 
    max-width: 500px;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 13px;
}

#play-again-button {
    background-color: #f1cb31;
    border-radius: 20px;
    border: #f1cb31 2px solid;
    color: #393939;

}

#play-again-button:hover {
    background-color: #fb9925;
    border: #fb9925 2px solid;

}

#show-history-button {
    background-color: #d64d5a;
    border-radius: 20px;
    border: #d64d5a;
    color: white;
}

#show-history-button:hover {
    background-color: #ba1f2d;
    border: #ba1f2d 2px solid;
}


#history-display {
    background-color: #393939;
}

#results-list {
    list-style-type: numbered;
    list-style-position: inside;
    width: 100%;
}

#results-list li{
    background-color: #d64d5a;
    padding: 0.4rem 1.5rem;
}

/* make high score list display different bg colour for the even-numbered items  */
#results-list li:nth-child(even) {
    background-color: #f1cb31;
}


.main-flex-parent {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-flex-child {
    flex: 0 0 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Pokeball Splash Screen*/

/* how to make a div a responsive square:
https://stackoverflow.com/questions/19068070/how-to-style-a-div-to-be-a-responsive-square */

.splash-screen {
    position: relative;
    min-width: 50vh;
    width: 50%;
    overflow: hidden;
}

.splash-screen:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.splash-screen-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.modal-button {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    border: none;
}

.pokeball {
    background: url("../images/basic-pokeball.png") no-repeat;
    background-size: contain;

    /* pokeball shake animation reference:
    https://codepen.io/ronniemon/pen/YXQVJZ */

    /* for browser compatibility */
    --webkit-animation: shake 3.5s 0.5s ease-in-out infinite alternate;
    /* long-hand form to remember animation properties */
    animation-name: shake;
    animation-duration: 3.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shake {
    0%, 40% {
        transform: rotate(0deg) translateY(0);
    }
    43% {
        transform: rotate(7deg) translateY(-1%);
    }
    46% {
        transform: rotate(0deg) translateY(0);
    }
    49% {
        transform: rotate(-7deg) translateY(-1%);
    }
    52%, 100% {
        transform: rotate(0deg) translateY(0);
    }
}

/* The Modal (background) */
.modal-underlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal box */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 1rem;
    border: 1px solid #888;
    min-width: 250px;
    max-height: 50vh;
    overflow: auto;
}
  
/* Modal Content */
.modal-content {
    overflow: auto;
}

/* The Close Button */
.close {
    position: relative;
    color: #465da5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:before {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px; 
    left: -20px;
    right: -20px; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* these not really needed, were just for testing */
/* #myBtn {
    background-color: #d64d5a;
    border-radius: 20px;
    color: #fefefe;
    border: 1px solid #d64d5a;
}

#myBtn:hover { 
    background-color: #f1cb31;
    color: #465da5;
    border: 1px solid #f1cb31;
} */


.hidden {
    display: none;
}




/* input field for modal form */
input {
    width: 100%;
}


/* for testing purposes */
.border-orange {
    border: 1px solid orange;
    background-color: rgb(255, 239, 209);
}

.border-blue {
    border: 1px solid blue;
    background-color: rgb(188, 188, 222);
}

.border-red {
    border: 1px solid red;
    background-color: rgb(255, 215, 215);
}

.border-green {
    border: 1px solid green;
    background-color: rgb(188, 217, 146);
}


/* media queries */

/* Larger than tiny mobile */
@media (min-width: 300px) {
    .modal-content {
        padding: 2rem;
        max-width: 50%;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .modal-content {
        padding: 3rem;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .splash-screen {
        min-width: 46vw;
    }

    .modal-content {
        padding: 5%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
}  

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}